<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>linkChecker</title>
</head>

<body>
  <div>linkChecker</div>
  <input type="text" id="msg">
  <button id="send">send</button>
  <script src="/socket.io/socket.io.js"></script>
  <!-- <script>
    const websocket = new WebSocket('ws://localhost:3000/')
    let count = 0
    setInterval(() => {
      count++
      websocket.send(count)
    }, 5000)
    websocket.onmessage((data) => {
      console.log(data)
    })

  </script> -->
  <script>
    var socket = io.connect('http://localhost:3000');

    //连接成功时触发
    socket.on('connect', function () {
      console.log('连接成功');
    });

    //连接断开时触发
    socket.on('disconnect', function () {
      console.log('连接断开');
    });

    //收到消息时触发
    socket.on('msg', function (data) {
      console.log(data)
      // var node = document.createElement("li");
      // node.innerHTML = "客户端收到 : " + data;
      // document.querySelector("#receive").appendChild(node);
    });

    document.querySelector("#send").onclick = function () {
      var msg = document.querySelector("#msg").value;
      socket.send(msg);
    };
  </script>
</body>

</html>